.hero {
  display: flex;
  justify-content: space-between;
}

.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}

.the-best-ad {
  margin-top: 4rem;
  background-color: #363d42;
  width: fit-content;
  padding: 20px 13px;
  border-radius: 4rem;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.the-best-ad span {
  z-index: 2;
}

.the-best-ad div {
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-overflow: inherit;
}

.hero-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figures {
  display: flex;
  gap: 2rem;
}

.figures > div {
  display: flex;
  flex-direction: column;
}

.figures span:nth-of-type(1) {
  font-size: 2rem;
  color: white;
}

.figures span:nth-of-type(2) {
  color: #868686;
  text-transform: uppercase;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  font-weight: normal;
}

.hero-buttons > :nth-child(1) {
  background-color: var(--orange);
  color: white;
  width: 8rem;
  border-radius: 50px;
}

.hero-buttons > :nth-child(2) {
  border: 1px solid var(--orange);
  color: var(--orange);
  width: 8rem;
  border-radius: 50px;
}

.right-h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: black;
  border-radius: 50px;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}

.heart-rate img {
  width: 2rem;
}

.heart-rate > span:nth-of-type(1) {
  color: var(--gray);
}

.heart-rate > span:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
}

.hero-image {
  position: absolute;
  right: 8rem;
  top: 10rem;
  width: 23rem;
}

.hero-image-back {
  position: absolute;
  right: 20rem;
  top: 4rem;
  width: 15rem;
  z-index: -1;
}

.calories {
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  right: 28rem;
  top: 32rem;
}
.calories > img {
  width: 3rem;
}

.calories > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calories > div > span:nth-of-type(1) {
  color: var(--gray);
}
.calories > div > span:nth-of-type(2) {
  color: white;
  font-size: 1.5rem;
}

.hero-blur {
  width: 22rem;
  height: 30rem;
  left: 0;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    gap: 3rem;
  }

  .left-h {
    padding: 0 2rem;
    text-align: center;
    align-items: center;
    flex: none;
  }

  .hero-text {
    font-size: 2.5rem;
  }

  .hero-text > div:nth-of-type(3) {
    width: 100%;
    font-size: 0.9rem;
  }

  .figures {
    justify-content: center;
  }

  .right-h {
    width: 100%;
    height: 20rem;
    background:none;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-h > .btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .heart-rate {
    left: 1rem;
    top: 2rem;
  }

  .hero-image {
    position: relative;
    width: 15rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }

  .hero-image-back {
    width: 15rem;
    left: 2rem;
    top: 0rem;
  }

  .calories {
    right: initial;
    top: initial;
    position: relative;
    margin-top: 1rem;
  }
}
